body {
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  background-color: #f2f2f2;
  color: #020e1b;
}

main {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 90vw;
  margin: 1vh auto 0 auto;
  padding: 1vh 2vw 3vh 2vw;

  background-color: #fff;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;

  h1 {
    color: #07386e;
    font-size: 1.5em;
  }

  h2 {
    color: #03254b;
    font-size: 1.4em;
  }

  h3 {
    font-size: 0.9em;
    font-weight: 200;
    margin-top: 0;
  }

  @media screen and (min-width: 1024px) {
    width: 60vw;
    margin-top: 3vh;
  }
}

nav {
  width: 100%;
  padding: 10px 0;
  background-color: #035369;

  a {
    color: #fff;
  }
}

section {
  display: flex;
  flex-direction: column;
}

table {
  display: block;
  overflow-x: auto;
  border-spacing: 0;

  tr {
    padding: 1vh 1vw;
    height: 2em;

    &.header {
      color: #fff;
      background-color: #057594;
    }

    &:nth-child(even) {
      background-color: #83e1fb;
    }

    &:nth-child(even) {
      background-color: #e6f9fe;
    }
  }

  td {
    padding: 0 0.8em;

    &.empty {
      font-style: italic;
    }
  }
}
